header {
    background-color: #ffffff;
    margin-bottom: 25px;
    text-align: center;

    img {
        height: 100px;
    }

    .header-tel {
        display: none;

        @media (max-width: 480px) {
            display: block;
            width: 150px;
            height: 150px;
            margin: auto;
        }
    }

}

@media (max-width: 480px) {
    .header-pc {
        display: none;
    }
}